<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MBXAccessToken</key>
	<string>pk.eyJ1IjoidGFsaGEwMDEiLCJhIjoiY2x0NHNqeXR0MDZzNDJrbXFkM2thaXE5NCJ9.GpanpHgqBgHFrzQRqEU8Lw</string>
</dict>
</plist>
